html, body{
	margin:0;
	font-family: sans-serif;
	background-color: #FCFCFC;
	max-width: 100%;
	overflow-x: hidden;
	height: auto;
	color: #707070;
}


/*Top navigation bar*/
#theTop
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.top
{
	display: inline-block;
	font-family: Helvetica Neue;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
}
/*==========================================*/
/*Title*/
#title{
	margin-left: auto;
    margin-right: auto;
	border-radius: 50px;
	border: 3px solid black;
	width: 45%;
	background-color: rgba(232,239,226,.57);
	text-align: center;
	padding: 17px 15px;
	font-size: 18px;
	margin-bottom: 90px;
}

#onlyTitle{
	letter-spacing: 10px;
}
.title2{
	font-size: 23px;
	font-weight: normal;
}
h3{
	letter-spacing: 7px;
}
/*===========================================*/
.verticalLine {
  border-left: 1px solid #707070;
  height: 463%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 41%;
}
/*==================== VIDEO AND SHORT DESCRIPTION ==========================*/
#intro{
	position: absolute;
	background-color: #D8D8D8;
	border: 1px solid #707070;
	left: 20%;
	width: 60%;
	padding: 35px 20px;
	text-align: left;
}

.introContent{
	font-family: Helvetica Neue;
	font-size: 17px;
	margin-right: 65%;
	margin-left: 2%
}

#vidContainer{
	position: absolute;
	background-color: #F4EDEC; 
	border: 2px solid #707070;
	border-radius: 0px 32px;
	top: 43%;
	left: 44%;
	width: 37%;
	height: 43%;
}
#vid{ 
	position: absolute;
	top:5%;
	left:3%
}
/*======================='ABOUT' PORTION OF PAGE==============================*/
#yellowContainer{
	position: absolute;
	top: 510%;
	height: 85%;
	width: 100%;
	border: 1px solid #707070;
	background-color: #FEFFF5;
}

.aboutTitle{
	font-family: Helvetica Neue;
	font-size: 25px;
	text-align: center;
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
}

.aboutPhoto{
	margin-top: 5%;
	margin-left: 15%;
}

#ap{
	position: absolute;
	top: 30.4%;
	left: 16.4%;
}

.aboutText{
	width: 35%;
	position: absolute;
	left: 53%;
	top: 32%;
	font-family: Helvetica Neue;
	font-size: 18px;

}

/*========================='CREATORS' PORTION OF PAGE============================*/
#pinkContainer{
	position: absolute;
	top: 600%;
	height: 85%;
	width: 100%;
	border: 1px solid #707070;
	background-color: rgb(245,218,232,.58);
}

.creatorsTitle{
	font-family: Helvetica Neue;
	font-size: 25px;
	text-align: center;
	margin-top: 3%;
	margin-right: auto;
	margin-left: auto;
}

.creatorsPhoto{
	display: inline-block;
	margin-top: 2.5%;
	margin-left: 16.4%;
	width: 10%;

}

#joseph{
	position: absolute;
	top: 30.3%;
	left: 17.3%;
}

#ons{
	position: absolute;
	top: 30.3%;
	left: 44%;
}
#anisiia{
	position: absolute;
	top: 30.3%;
	left: 70.65%;
}
.creatorsText1{
	display: inline-block;
	margin-top: 1%;
	margin-left: 15%;
	width: 16%;
	font-family: Helvetica Neue;
	font-size: 20px;
	text-align: center;
}
.creatorsText2{
	display: inline-block;
	margin-top: 1%;
	margin-left: 11.5%;
	width: 16%;
	font-family: Helvetica Neue;
	font-size: 20px;
	text-align: center;
}
.creatorsText3{
	display: inline-block;
	margin-top: 1%;
	margin-left: 10%;
	width: 17%;
	font-family: Helvetica Neue;
	font-size: 20px;
	text-align: center;
}
/*=========================SIDE NAVIGATION BAR============================*/
#dots{
	position: fixed;
	top: 40%;
}
.dot {
	height: 14px;
	width: 14px;
	border: 1px solid #707070;
	border-radius: 25px;
	margin-left: 400%;
	margin-bottom: 52%;
}

.nav{display: none;}

.activeDot, .dot:hover{
	background-color: #8B8B8B;
}

.dot:hover .nav{
	display: block;
	font-family: Helvetica Neue;
	font-size: 14px;
	margin-left: 200%;
	margin-bottom: 13%;
	white-space: nowrap;
}

/*==========================LOCATIONS ===========================*/	

.locationTitles{
	width: 20%;
	height: 80%;
	position: absolute;	
	top:119%;
	left:20%;
	font-family: Helvetica Neue;
	font-size: 19px;
	word-wrap: break-word;
	text-align: center;
}

.loc{
	margin-bottom: 201%;
}

.timestamps{
	width: 20%;
	position: absolute;	
	top:123%;
	left:23%;
	font-family: Helvetica Neue;
	font-size: 17px;
	word-wrap: break-word;
	text-align: center;
}

.ts{
	margin-bottom: 205%;
}

.locationDesc{
	width: 26%;
	position: absolute;	
	top:133%;
	left:20%;
	font-family: Helvetica Neue;
	font-size: 17px;
	word-wrap: break-word;
	text-align: right;
}

/*a spacer to vertically space out the location descriptions*/
.spacer3 {
    height: 125%;
    margin: 0 0 136% 0;
}

.locPhotos{
	position: absolute;	
	top:112%;
	right:12%;
}
/*a spacer to vertically space out the location photos*/
.spacer4 {
    height: 66%;
    margin: 0 0 66% 0;
}

#loc1{
	position: absolute;
	top: 0.55%;
	left: 6%;
}
#loc2{
	position: absolute;
	top: 22.75%;
	left: 6%;
}
#loc3{
	position: absolute;
	top: 44.9%;
	left: 6%;
}
#loc4{
	position: absolute;
	top: 67.05%;
	left: 6%;
}
#loc5{
	position: absolute;
	top: 89.2%;
	left: 6%;
}


.horizontalLines{
	margin-top: 44%;

}

.hline{
	width: 11%;
	height: 1px;
	background-color: #707070;
	margin-left: 38.8%;
	margin-bottom: 42.2%;
}

.whiteDots{
	position: absolute;
	top: 124.5%;
	left: 38%

}

.wdot{
	height: 11px;
	width: 11px;
	border: 1px solid #707070;
	border-radius: 25px;
	background-color: white;
	margin-bottom: 4584%;
}