html, body{
	margin:0;
	font-family: sans-serif;
	background-color: #FCFCFC;
	max-width: 100%;
	overflow-x: hidden;
	height: auto;
	color: #707070;
}


#theTop
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.top
{
	display: inline-block;
	font-family: Helvetica Neue;
	font-size: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

#title{
	margin-left: auto;
    margin-right: auto;
	border-radius: 50px;
	border: 2px solid black;
	width: 45%;
	background-color: rgba(232,239,226,.57);
	text-align: center;
	padding: 17px 15px;
	font-size: 18px;
	margin-bottom: 90px;
}

h1{
	letter-spacing: 10px;
}
h3{
	letter-spacing: 7px;
}
.verticalLine {
  border-left: 1px solid #707070;
  height: 470%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 41%;
}

#intro{
	position: absolute;
	background-color: #D8D8D8;
	border: 1px solid #707070;
	left: 20%;
	width: 60%;
	padding: 35px 20px;
	text-align: left;
}

.introContent{
	font-family: Helvetica Neue;
	font-size: 17px;
	margin-right: 65%;
	margin-left: 2%
}

#vidContainer{
	position: absolute;
	background-color: white;
	border: 1px solid #707070;
	top: 43%;
	left: 44%;
	width: 37%;
	height: 43%;
}
#vid{ 
	position: absolute;
	top:5%;
	left:3%
}

#yellowContainer{
	position: absolute;
	top: 515%;
	height: 85%;
	width: 100%;
	border: 1px solid #707070;
	background-color: #FEFFF5;
}

#pinkContainer{
	position: absolute;
	top: 605%;
	height: 85%;
	width: 100%;
	border: 1px solid #707070;
	background-color: rgb(245,218,232,.58);
}

.dots{
	position: fixed;
	top: 40%;
}
.dot {
	height: 14px;
	width: 14px;
	border: 1px solid #707070;
	border-radius: 25px;
	margin-left: 400%;
	margin-bottom: 52%;
}
.words{
	position: fixed;
	top: 40%;
}

.word {
	font-family: Helvetica Neue;
	font-size: 14px;
	margin-left: 145%;
	margin-bottom: 13%;
	white-space: nowrap;
}

.locationTitles{
	width: 20%;
	height: 80%;
	position: absolute;	
	top:119%;
	left:20%;
	font-family: Helvetica Neue;
	font-size: 19px;
	word-wrap: break-word;
	text-align: center;
}

.spacer1 {
    height: 180%;
    margin: 0 0 -183% 0;
}

.timestamps{
	width: 20%;
	position: absolute;	
	top:123%;
	left:23%;
	font-family: Helvetica Neue;
	font-size: 17px;
	word-wrap: break-word;
	text-align: center;
}
.spacer2 {
    height: 206%;
    margin: 0 0 205% 0;
}

.locationDesc{
	width: 26%;
	position: absolute;	
	top:133%;
	left:20%;
	font-family: Helvetica Neue;
	font-size: 17px;
	word-wrap: break-word;
	text-align: right;
}

.spacer3 {
    height: 125%;
    margin: 0 0 136% 0;
}

.locPhotos{
	position: absolute;	
	top:112%;
	right:12%;


}

.spacer4 {
    height: 66%;
    margin: 0 0 66% 0;
}


.horizontalLines{
	position: relative;
	margin-top: 44%;

}

.hline{
	width: 11%;
	height: 1px;
	background-color: #707070;
	margin-left: 38.8%;
	margin-bottom: 42.2%;
}

.whiteDots{
	position: absolute;
	top: 124.1%;
	left: 38%

}

.wdot{
	height: 11px;
	width: 11px;
	border: 1px solid #707070;
	border-radius: 25px;
	background-color: white;
	margin-bottom: 4585%;
}













